<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="style.css">
  <title>
    AnguFlix!
  </title>
</head>
<body ng-app = "movieApp" ng-controller = "movieCtrl">

  <div class = "container-fluid">
    <div class = "row roww">
      <div class="col-md-12 header"> 
        <div class="myCollection">
          <h1>My collection</h1>
          <form>
            <input type="text" ng-model="search.title">
            <select>
              <option ng-repeat = "year in years | filter: query" ng-model = "query.year">{{year}}</option>
            </select>
          </form>
        </div>    
      </div>
    </div>

    <div class = "row roww">
      <!-- <div class="col-md-12 collection" ng-controller="collectionCtrl"> -->
        <h2>Select movies from below to add to your collection</h2>
        <div class = "col-md-4 movie" ng-model = "movie" ng-repeat = "movie in myCollection | filter: search">
          <div class = "movieImg">
            <img ng-src="{{movie.img}}"/>
          </div>
          <div class = "movieInfo">
            <h2>{{movie.title}}</h2>
            <h4>{{movie.year}}</h4>
            <p>{{movie.descrShort}}</p>
          </div>
        </div>
      </div>

</span>  

    <div class = "row roww">
      <h3>All Movies</h3>
      <form class="form-group">
        <input type="text" ng-model="search.title">Search by Title
      </form>

       <div class = "col-md-4 movie" ng-model="movie" ng-repeat = "movie in allMovies | filter:search" ng-click = "addToCollection(movie)"> 
          <div class = "movieImg">
            <img ng-src="{{movie.img}}"/>
          </div>
          <div class = "movieInfo">
            <h2>{{movie.title}}</h2>
            <h4>{{movie.year}}</h4>
           <p>{{movie.descrShort}}</p>
          </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="service.js"></script>
<script type="text/javascript" src="controller.js"></script>
</body>
</html>