.form-here{
  border: solid 1px black;
  margin:2%;
  text-align:center;
  float:left;
}


form {
  width:100%;
}

form input {
  width:60%;
}

.add {
  width:200px;
}

.theList ul{
  list-style: none;
  float:left;
  margin:5%;
}

.green {
  font-size: 1.5em;
  font-weight: bold;
  background-color:green;
}